body {
	font-family: 'Montserrat', sans-serif;
}

header{
	background: #E3E0D7;
	padding: 5px 0;
}
.cabecalho {
	width: 1200px;
	position: relative;	
	margin: 0 auto;
}
nav ul {
	margin-top: 15px;
}
h1 {
	display: inline;
	text-transform: uppercase;	
	vertical-align: top;
	position: absolute;
	left: 20%;
	top: 50%;
	font-size: 25px;	
	 
}
.logo {
	border-radius: 100px;
}

.logo:hover{
	transform: scale(1.2);
	transition: 1s;
}
nav {
    position: absolute;
    top: 0;
    right: 0;
}
nav li {
	display: inline-block;
	margin: 0 0 0 15px;
}
main {
	background: #FFFFFF;
	margin: 10px 10px;
}
.sobremim, .skill {
	border: 1px solid #E3E0D7;
	margin: 40px 10%;			
}
.divisao1 {
	display: inline-block;
	text-align: center;
	width: 8%;
	vertical-align: top;
	padding: 95px 20px;
	box-sizing: border-box;
	border-right: 2px solid #E3E0D7;
	writing-mode: vertical-lr;
	direction: rtl;	
}	
.sobremim:hover,.skill:hover{
	box-shadow: 10px 10px 30px #E3E0D7;
}

.sobre {
	font-size: 30px;		
}
.sobre:after{
	content: "_";
	color: red;
	font-weight: bold;
}

.divisao {
	display: inline-block;
	text-align: center;
	width: 45.6%;
	vertical-align: top;
	padding: 50px 20px;
	box-sizing: border-box;
}
.box-apresentacao {
	display: inline-block;
	text-align: center;
	width: 45.6%;
	vertical-align: top;
	box-sizing: border-box;
}

.dados{
	text-align: center;
	text-decoration: none;		
}
.dados th{
	padding: 10px 10px;
	text-align: left;
}
.apresentacao {
	background: #ADD8E6;
	height: 100px;
	position: relative;
}
h2 {
	position: relative;
	padding-top: 70px;
    font-size: 28px;    
}
.texto-apresentacao {
	font-size: 16px;
	padding: 55px 10px;
}
footer {
	background-color: black;
}
.text-footer{
	color: white;
	text-align: center;
	font-size: 10px;
	padding: 10px 10px;
}
.divisao-skill {
	display: inline-block;
	text-align: center;
	width: 91.6%;
	vertical-align: top;
	padding: 50px 20px;
	box-sizing: border-box;
}